table.sourceCode,pre.sourceCode{
    background-color: #ffd8b1;
    border-radius: 1em;
    box-shadow: .1em .1em .5em rgba(0,0,0,.45);
    display:block;
}

td.sourceCode {
  padding-left:.2em;
}

pre.sourceCode {
  padding: 1em;
}

td.lineNumbers {
  color:black;
  opacity:.5;
  border-right:1px solid;
  text-align:right;
  padding: 0em .5em 0 .5em;
}

.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #0000b5; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; font-style: italic;}
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }
