pre {
    background-color: #ffd8b1;
    border-radius: 1em;
    padding: 0.5em;
    box-shadow: .1em .1em .5em rgba(0,0,0,.45);
}

pre code {
  display: block;
}

pre .line-number {
  color:black;
  display:block;
  opacity:0.5;
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  clear: both;
  padding: 0 0.5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}

.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #0000b5; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; font-style: italic;}
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }
